nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 31px 160px;
}




.body{
    background-color: #F1F1F3;
}
   
.button-nav{
    font-weight: 600;
    color: #006A50;
    background-color: #F5F5F5;
    padding: 15px 30px;
    border-radius: 8px;
    border-color: #006A50;
    border-style: solid;
    width: 116px;
    height: 52px;
   
}

.Banner-title{
    font-weight: 500px;
    font-size: 24px;
    color: #0E0E0E;
    opacity: 50%;
    padding: 0;
    margin-top: 117px;
    margin-bottom: 16px;
    
}
.Banner-content{
    font-weight: bold;
    font-size: 56px;
    color: #0E0E0E;
    margin-top: 0px;
}



#first-banner{
    display: flex;
    border-radius: 24px;
    justify-content: space-between;
    margin: 20px 160px;
    padding: 177px 59.99px;


}
.banner-img{
    width: 474px;
    height: 400px;
    
}

.main-style{
    
    
}



.first-banner-div{
max-width: 622px;
max-height: 245p;
    
}

.background-color-section-1{
    background-color: #C6E4D6;
}
.first-banner-button{
    font-weight: 600;
    color: white;
    background-color: #006A50;
    padding: 17px 34px;
    border-radius: 8px;
    border-color: #006A50;
    border-style: solid;
    width: 270px;
    height: 56px;   
}

.pillar-container{
  display: flex;
  width: 1280px;
  gap: 24px;
  padding: 24px;
}
.pillar-img{
  
  width: 64px;
  height: 64px;
}


.pillar{
  background-color: white;
  border-radius: 16px;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
}


.pillars-section{
  margin: 80px 160px 0px 160px;
 
}

.the-v-of-future{
  margin: 80px 160px;
}

.vision-button{
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  padding: 11px 20px;
  background-color: #5490F5;
  border-radius: 8px;
  border-color: #5490F5;
  border-style: solid;
}

*{
  margin: 0;
}
.card-section{
  display: flex;
  gap: 24px;

}

.card-section .card-box{
  background-color: rgba(84, 144, 245, 0.2);
  border-radius: 16px;
}

.card-section .card-box .card-image{
  margin-left: 32px;
}

.title section-font{
  margin-bottom: 24px;

}

bosy  

.para{
  margin-top: 32px;
}

.card-box{
  margin-top: 32px;
  width: 410.37px;
  height: 325px;
}

.paragraph{
  margin-top: 32px;
  color: #0E0E0E;
  font-weight: 400;
  font-size: 16px;
  padding: 42px 24px 112px 24px;
  margin-bottom: 0px;
  width: 1273px;
  height: 256px;
}

.yunus-title{
  margin-top: 12px;
  font-weight: 600;
  font-size: 20px;
  
}

.last-para{
  background-color: #FFFFFF;
  border-radius: 16px;
}


.yunus-title{
  margin-top: 0;
}

.last-para .yunus-a{
  margin-top: 0px;
  padding: 24px;
}

.yunus-para{
  font-weight: 400;
  font-size: 16px;
  color: #0E0E0E;
  opacity: 60%;
}

.card-section .card-box .title-para{

  margin-left: 32px;
  margin-bottom: 24px;
}

.card-section .card-box .card-img-tp-b{
  margin: 32px;
}

.card-section .card-box .title-font{
  margin-bottom: 12px;
}

.card-section .card-box .title-para{
  margin-top: 12px;
}

.card-section .card-box .button-v{
  margin: 32px;
  margin-top: 0;
}

.description-font{
  font-weight: 400;
  font-size: 16px;
  color: #0E0E0E;
  opacity: 70%;
}

.datetime{
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
  color: #0E0E0E;
  opacity: 70%;
  font-weight: 400;
  font-size: 16px
}

.button-rn{
  background-color: #006A50;
  width: 139px;
  height: 48px;
  border-radius: 8px;
  border-style: solid;
  border-color:#006A50 ;
  color: #FFFFFF;
}

.section-rn{
  display: flex;
  background-color: #FFFFFF;
  margin: 0 160px ;
  gap: 32px;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
}

.donate-t{
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-top: 80px;
}
.rn-h{
  margin-bottom: 24px;
}

.donate-p{
  margin-top: 24px;
  margin-left: 160px;
  margin-right: 160px;
}

.rn-img{
  border-radius: 20%;
  padding: 48px;
}

.rn-para{
  font-weight: 400;
  font-size: 16px;
  color: #0E0E0E;
  opacity: 70%;
  margin-bottom: 32px;
}

.al-jaj-img{
  margin-bottom: 12px;
  margin-top: 12px;
}

.heading-rn{
  font-weight: bold;
  font-size: 40px;
  margin: 160px;
  margin-bottom: 0px;
  margin-top: 80px;
}

.head-para-rn{
  font-weight: 400;
  font-size: 16px;
  margin: 160px;
  margin-top: 24px;
}

.title-font{
  font-weight: bold;
  font-size: 20px;
  color: #0E0E0E;
  opacity: 80%;
}

.section-font{
  font-weight: bold;
  font-size: 40px;
  color: #0E0E0E;
}

.font-description{
  font-weight:400;
  font-size: 16px;
  color: #0E0E0E;
  opacity: 70%;
}

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }

  .nav-title{
    font-weight: bold;
    font-size: 32px;
  }
  